@import "reset.css";
@import "animations.css";
@import "fonts.css";

body {
  font-size: 80%;
  margin: 0px;
  font-family: "Flower", Helvetica, Verdana, sans-serif;
  background-color: #ddccd4;
  color: #97166b;
  text-shadow: black 1px 0;
  background-image: url(/mandalacopy.png);
  background-size: 600px;
  letter-spacing: 2px;
}

h1 {
  font-size: 60px;
}

.main-pic {
  width: 500px;
  border: 5px solid #97166b;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .main-pic {
    width: 300px;
    border: 5px solid #97166b;
    border-radius: 50%;
  }
}

.page-header {
  border-bottom-color: #d5adc8;
}

main {
  background: white;
  height: 200px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

main div {
  background: black;
  color: white;
  width: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}

#banner {
  background-color: #70bdcd;
  width: 100%;
  height: 100px;
  position: absolute;
  top: calc(100% - 2 * 100px);
  font-size: 70px;
  text-align: center;
  font-family: "Chopins";
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.baselayer.open #banner {
  animation: bounce-out-top 1.5s both;
}

.card {
  transition: all 1s linear;
  transition-delay: 1s;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
}

.open .card {
  visibility: visible;
  opacity: 1;
  max-height: auto;
  overflow: visible;
}

.name {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

nav.menu {
  display: none;
}

.open nav.menu {
  width: 100%;
  display: table;
  text-align: center;
  margin-top: 370px;
  margin-bottom: 20px;
}

nav.menu li {
  display: inline-block;
  font-size: 20px;
}

nav.menu li {
  text-shadow: none;
  padding: 10px 0;
}

nav a[href] {
  position: relative;
  display: inline-block;
  margin-left: 25px;

  outline: none;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

nav.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #70bdcd;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
  opacity: 1;
}

.thumbnail img:hover {
  opacity: 0.7;
}

.gallery > div .thumbnail:hover {
  transform: rotate(0) !important;
}

.gallery > div:nth-child(2n) .thumbnail {
  transform: rotate(4deg);
}
.gallery > div:nth-child(3n) .thumbnail {
  transform: rotate(-8deg);
}
.gallery > div:nth-child(4n) .thumbnail {
  transform: rotate(5deg);
}
.gallery > div:nth-child(5n) .thumbnail {
  transform: rotate(-10deg);
}

.modal {
  text-shadow: none;
}
.modal small {
  color: gray;
  display: block;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.description {
  font-size: 20px;
}

section {
  min-height: 100vh;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 200px;
}
section:last-of-type {
  margin-bottom: 0;
}

address {
  font-size: larger;
}

#liste h3 {
  margin: 30px;
  font-weight: 900;
}
.gift-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-shadow: none;
}

.gift {
  z-index: 0;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  border: 1px solid #cad0d2;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.gift__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  flex: 1 0 auto;
}
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:hover {
  background-color: #97166b;
  border-color: #97166b;
}
.reserved .gift__description {
  opacity: 0.5;
}
.reserved .gift__action {
  display: none;
}
.reserved .ribbon {
  display: inline-block;
}
.ribbon {
  padding: 0.34em 1em;
  margin: 0;
  margin-bottom: 5%;
  position: relative;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(top, #97166b, #810c5a);
  display: none;
}

.ribbon:before,
.ribbon:after {
  content: "";
  width: 0.2em;
  bottom: -0.5em;
  position: absolute;
  display: block;
  border: 0.9em solid #97166b;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  z-index: -2;
}

.ribbon:before {
  left: -1.15em;
  border-right-width: 0.75em;
  border-left-color: transparent;
}

.ribbon:after {
  right: -1.15em;
  border-left-width: 0.75em;
  border-right-color: transparent;
}

.ribbon_content:before,
.ribbon_content:after {
  content: "";
  bottom: -0.5em;
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #810c5a transparent transparent transparent;
  z-index: -1;
}

.ribbon_content:before {
  left: 0;
  border-width: 0.5em 0 0 0.5em;
}

.ribbon_content:after {
  right: 0;
  border-width: 0.5em 0.5em 0 0;
}

.gift__photo {
  font-size: 32px;
  margin-bottom: 10px;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gift__photo img {
  max-height: 300px;
}

.gift__descriptionText {
  color: #57727c;
  font-size: 12px;
  text-align: center;
  max-width: calc(100% - 30px);
}

.gift__action {
  text-align: center;
  padding: 5px 15px;
}

.gift--fixedWidth {
  max-width: 300px;
}

address a[href] {
  color: #810c5a;
}
