<section id="contact">
    <div class="container">
        <div class="row">
            <h2>Contact</h2>
            <p class="lead">
                Si vous voulez venir voir sa petite bouille vous êtes les
                bienvenus ! Un petit coup de fil et on s’organise.
            </p>

            <br />
            <br />
            <address>
                <strong>Kevan Saminadha Pillay et Anouck Poels</strong><br />
                19 rue Quehain, <br />
                1480 Saintes<br />
                <br />
                <abbr title="Téléphone">Tél:</abbr>
                <a href="tel:0478348828">0494/206974</a> (Kevan)<br />
                <abbr title="Téléphone">Tél:</abbr>
                <a href="tel:0479798644">0471864346</a> (Anouck)
            </address>
        </div>
    </div>
</section>
