<section id="liste">
    <div class="container">
        <div class="row">
            <h2>Liste de naissance</h2>
            <p class="lead">

                Si vous voulez la gâter, nous sommes déjà bien équipés mais voici une liste de ce qui nous manque,
                de ce qui pourrait nous faciliter la vie, ainsi que quelques coups de cœur.
                Deux options s'offrent à vous: <br />
                - <strong>(Click & go)</strong>: Pour tous les articles vous pouvez réserver<br />
                l'article en votre nom et on s'occupe des courses.<br />
                - <strong>Marché autonome</strong>: Pour certains articles moins spécifiques,<br />
                on vous indique où vous pouvez le trouver et vous vous chargez de l'achat.<br />
                N'oubliez pas de réserver l'article afin d'éviter les doublons et de préciser la formule choisie. <br />
                Un tout grand merci pour elle et pour nous ;-)<br />
            </p>


            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            {% endfor %} {% endif %} {% endwith %}

        </div>

        {% for category in categories|sort(attribute='order') if category.has_gift_left -%}
        <h3>{{ category.name }}</h3>
        <div class="gift-gallery">
            {% for item in category.gifts if item.is_visible == True -%}
            <div class="gift gift--fixedWidth {% if item.reserved_at %}reserved{%endif%}" data-gift-id="{{ item.id }}">
                <div class="item gift__thumbnail gift__description">
                    {% if item.url or item.picture %}
                    <div class="gift__photo">
                        {% if item.url %}
                        <img src="{{ url_for('static', filename='gifts/'+item.url) }}" class="img-responsive"> {% else %}
                        <img src="{{item.picture}}" class="img-responsive"> {% endif %}
                    </div>
                    {% endif %}
                    <div class="caption gift__descriptionText">
                        <h4>{{ item.title }}</h4>
                        <span class="description muted">{% if item.description %} {{item.description}} {% endif %}</span>
                    </div>

                </div>
                <div class="reserved_ribbon ribbon"><span class="ribbon_content">Réservé</span></div>

                <div class="gift__action">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#giftModal" data-giftid="{{ item.id }}" data-price="{{ item.price }}" data-buy-desc="{{item.buy_description}}"
                        {% if item.reserved_at %}disabled{%endif%} data-isonlygo="{{item.is_only_go_value}}">
                        <i class="glyphicon glyphicon-gift"></i> C'est moi qui offre !
                    </button>
                </div>

            </div>
            {%- endfor %}
        </div>
        {%- endfor %}
    </div>


    <div class="modal fade" id="giftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <form class="form-horizontal" role="form" id="gift_form" method="post" action="/update_status">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                        <h4 class="modal-title" id="myModalLabel">C'est moi qui offre !</h4>
                    </div>
                    <div class="modal-body">
                        <div id="modalError" style="display: none">
                            Une erreur s'est produite 😞
                        </div>
                        <div class="modal-form">
                            <p>
                                <div class="radio marche_type">
                                    <label>
                                    <input required type="radio" name="gift_type" id="gift_type_marche"
                                         value="marche" autocomplete="off">
                                        Marché autonome
                                    <small>Je fais mon marché en toute autonomie</small>
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input required type="radio" name="gift_type" id="gift_type_click_and_go"
                                        value="click_and_go" autocomplete="off">
                                        Click &amp; Go
                                    <small>Un petit clic, on s’occupe du reste.</small>
                                </label>
                                </div>
                            </p>
                            <div class="well well-sm more_info_marche" style="display: none">
                                <!-- Filled Dyn -->
                            </div>
                            <div class="well well-sm more_info_click_and_go" style="display: none">
                                Pas de panique, on s'occupe de l'achat et de la livraison, il ne vous reste plus qu'a faire un versement de
                                <strong class="price">35€</strong> sur notre compte
                                <code>BE83 0018 4523 2515</code>.
                            </div>
                            <hr>

                            <p>Laissez-nous un petit mot que nous puissions vous remercier</p>


                            <div class="form-group required">
                                <label for="inputName" class="col-sm-2 control-label">Nom</label>
                                <div class="col-sm-10">
                                    <input required type="text" class="form-control" id="inputName" placeholder="Nom" name="name">
                                </div>
                            </div>

                            <div class="form-group required">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input required type="email" class="form-control" id="inputEmail" placeholder="Email" name="mail">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="textInput" class="col-sm-2 control-label">Petit Mot</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="textInput" name="reserved_word" placeholder="Petit mot"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="modal-success">
                            <div class="alert alert-success">
                                Merci beaucoup, c'est noté!
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="gift" id="gift" value="">
                        <button type="button" class="btn btn-default modal-form" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary modal-form">Envoyer</button>

                        <button type="button" class="btn btn-primary modal-success" data-dismiss="modal">Fermer</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>