<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Saomée</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="stylesheet"
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='main-compiled.css') }}"
        />
    </head>
    <style>
        body {
            background-color: #ddccd4;
        }
    </style>

    <body>
        {% include 'intro_section.html' %} {% include 'gift_section.html' %} {%
        include 'contact_section.html' %}

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js "></script>
        <script src="{{ url_for( 'static', filename='js/main.js' ) }} "></script>
    </body>
</html>
