<section id="intro">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <img
                    src="{{  url_for('static', filename='photo.jpg') }}"
                    class="main-pic"
                />
                <h1>Saomée</h1>
            </div>
            <p class="lead">
                Notre petite boule de bonheur nous a fait la joie de montrer le
                bout de son nez le 03 / 02 / 2020 à 11H25 avec ses 3,78 kg et
                50cm. Voici en primeur quelques photos de son adorable
                frimousse!
            </p>
        </div>
    </div>
</section>

<section id="photos">
    <div class="container">
        <h2>Photos</h2>
        <div class="row gallery">
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a title="" href="#" class="thumbnail">
                    <img
                        class="img-responsive"
                        src="{{ url_for('static', filename='photo/IMG_2893.JPG')}}"
                    />
                    <br />
                    <span></span>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a title="" href="#" class="thumbnail">
                    <img
                        class="img-responsive"
                        src="{{ url_for('static', filename='photo/IMG_2901.JPG')}}"
                    />
                    <br />
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</section>

<div tabindex="-1" class="modal fade" id="galleryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    Fermer
                </button>
            </div>
        </div>
    </div>
</div>
